body,
html,
#root,
.App {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  scroll-behavior: smooth;
  font-family: Space Grotesk;
}

/* scrolling */
@import "https://unpkg.com/transition-style/transition.hackpack.min.css";

@keyframes swoopy {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

.App-header > div[transition-style="in:custom:swoopy"] {
  --transition__duration: 10s;
  animation-name: swoopy;
  background: hsl(0, 0%, 0%);
  height: 100vh;
}

._carousel {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

._carousel .App-section,
._carousel header,
._carousel footer {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
}

/* indicator */

.arrows {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.indicator {
  position: absolute;
  bottom: 10%; /* Adjust this value if needed */
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%) rotate(45deg);
}

.indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
.indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3) {
  top: -0px;
  left: -0px;
  animation-delay: 0.4s;
}
.indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.6s;
}
.indicator span:nth-child(5) {
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
}

@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #222;
  }
}

/* section 1 hero title animation  */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
  display: block;
}

svg text {
  animation: stroke 5s forwards;
  stroke-width: 2;
  stroke: #2023bb;
  font-size: 4vw;
  counter-reset: non-scaling-stroke;
}
@media (max-width: 768px) {
  svg text {
    font-size: 28px;
  }
}
@media (max-width: 368px) {
  svg text {
    font-size: 22px;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
    stroke-width: 3;
  }
  100% {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* section 2  */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h2section {
  animation: fadeInUp 1s ease-out forwards;
}

.sectionh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: white;
}

.card {
  width: 100vw;
  height: 100vh;
  background: #212121;
  display: flex;
  gap: 5px;
}

.card p {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #21212172;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover; 
}

.card p .description {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.card p .description{
  position: absolute;
  padding: 1.5rem ;
  max-width: 20rem;
  height: auto;
  border-radius: 19px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
 font-size: 1.2rem ;
 backdrop-filter: blur(10px);
}
.card p:hover .description {
  opacity: 1;
}

.card p:hover {
  flex: 5;
  background-size: 100%;
}

.card p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition:
    all 0.5s,
    top 0.5s;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg)scale(1.5) ;
  background: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px); 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  transition: all 1s ease;
}

.card p:hover span {
  transform: rotate(0) translate(-50%, -50%);
  top: 5rem;
  left: 50%;
  opacity: 1;
  z-index: 10;
  transform: translate(-50%, -50%) rotate(0) scale(1.2);
}
.logo-background_one{
  background-image: url("../public/assets/011.png");
}
.logo-background_two{
  background-image: url("../public/assets/121.PNG");
}
.logo-background_three{
  background-image: url("../public/assets/122.png");
}
.logo-background_four{
  background-image: url("../public/assets/133.png");
}
.logo-background_five{
  background-image: url("../public/assets/134.png");
}
.logo-background_one,
.logo-background_two,
.logo-background_three,
.logo-background_four,
.logo-background_five{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .card p span {
    min-width: 12em; 
    padding: 0.3em; 
    font-size: 0.8em; 
  }

  .logo-background_one,
  .logo-background_two,
  .logo-background_three,
  .logo-background_four,
  .logo-background_five, ::after {
    background-position: top;
  }

  .card p:hover {
    flex: 12;
    background-size: 125%;
  }

  .card p .description {
    position: absolute;
    width: 90%;  
    border-radius: 19px;
    box-sizing: border-box; 
    transform: translate(-50%, -50%);
    font-size: .8rem; 
    backdrop-filter: blur(0px);
  }
}



/* section 3  */
.h3section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  font-size: 1.5rem;
}
.swiper-slide {
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-slide .title {
  font-size: 90px;
  font-weight: 650;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.logo-container {
  height: 100%;
  min-height: 65vh;
}
.background_logo_img1 {
  background-image: url(../public/assets/4.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.background_logo_img2 {
  background-image: url(../public/assets/3.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.background_logo_img3 {
  background-image: url(../public/assets/2.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.p_logo {
  font-size: 23px;
  background-color: rgba(96, 96, 96, 0.5);
  border-radius: 15px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  .container_card {
    margin: auto;
    width: 15rem;
    height: 32rem;
  }
  .logo-container {
    height: 22rem;
  }
  .card_logo_section {
    flex-direction: column;
    gap: 2rem;
  }
  .h3section {
    font-size: 1.5rem;
  }
  .swiper-slide .title {
    font-size: 35px;
  }
  .background_logo_img1,
  .background_logo_img2,
  .background_logo_img3 {
    background-size: 170%;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .p_logo {
    font-size: 15px;
  }
}
@media (max-width: 1177px) {
  .card_logo_section {
    margin: auto;
  }
  .container_card {
    min-width: 333px;
  }
}

/* section 4 */
.app-website {
  display: flex;
  justify-content: space-between;
  position: relative; 
}

.gallery, .gallery_right {
  height: 100vh;
  position: relative;
}

.gallery-inner {
  animation: scroll 30s linear infinite; 
}
.gallery-inner_right {
  animation: scroll-down 30s linear infinite; 
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.flex-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 100vh;
}
.title_create_website {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title_create_website_ {
  font-size: 3.5rem;
  text-align: center;
 
}
.title_create_website__ {
 
  font-size: 1.2rem;
  line-height: 2; 
  word-spacing: 2px;
  max-width: 500px; 
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 768px) {
  .app-website{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .gallery_right{
    display: none;
  }
  .title_create_website{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem;
    background-color: rgba(168, 167, 167, 0.578);
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .title_create_website_{
    font-size: 3rem;
    margin: 1rem;
  }
  .title_create_website__{
    font-size: 0.8rem;
  }
}

/* section 5 */

.app-socials{
  position: relative;
}

.container_socials{
  width: 100%;
  height: 100%;
 
}
.content-block_socials{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_socials, .text_socials{
  margin: 1rem ;
 
}
.image_socials{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100px;
  transition: transform 0.3s ease;
}
.image_socials_logo{
  height: 100%; 
}
.image_socials:hover {
  transform: translateY(-10px);
}
.text_socials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33rem;
  padding: 2rem;
  background-color: #f0f0f0; 
  border-radius: 15px 45px 15px 45px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 1rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff); 
}

@media (max-width: 768px) {
  .image_socials, .text_socials{
    margin: 0.5rem auto ;
    padding: 0 2rem;
  }
  .text_socials {
    font-size: 0.8rem;
  }
  .title_social{
    font-size: 2rem;
    filter: blur(1px);
    color: #0000007c;
  }
}

/* section 6 */

.google_section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.1rem;
  flex-direction: column;
  background-color: #d9d7d74e;
}

.gba_title {
  position: relative;
  display: flex;
  font-size: 43px;
}

.gba_title {
  font-size: 43px;
}

.img_one_google {
  width: 42rem; 
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.img_two_google {
  width: 16rem;
  height: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_three_google {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_four_google {
  width: 42rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_four,.text_three,.text_two,.text_one {
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.text_one{
  background-color: #de00002b;
  border-radius: 50px;
  padding: 1.2rem;
}
.text_one:hover{
  scale: 1.2;
  transition: 1s;
}
.text_two{
  background-color: #deb9002b;
  border-radius: 50px;
  padding: 1.2rem;
}
.text_two:hover{
  scale: 1.2;
  transition: 1s;
}
.text_three{
  background-color: rgba(0, 120, 0, 0.169);
  border-radius: 50px;
  padding: 1.2rem;
}
.text_three:hover{
  scale: 1.2;
  transition: 1s;
}
.text_four{
  background-color: rgba(44, 44, 255, 0.517);
  border-radius: 50px;
  padding: 1.2rem;
}
.text_four:hover{
  scale: 1.2;
  transition: 1s;
}
/* section 6 */

/* footer */

.App-footer {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(248, 243, 243);
}

.App-section:nth-child(odd) {
  background-color: #ffffff;
}
