body,
html,
#root,
.App {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrolling */
@import "https://unpkg.com/transition-style/transition.hackpack.min.css";

@keyframes swoopy {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

.App-header > div[transition-style="in:custom:swoopy"] {
  --transition__duration: 10s;
  animation-name: swoopy;
  background: hsl(0, 0%, 0%);
  height: 100vh;
}

._carousel {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

._carousel .App-section,
._carousel header,
._carousel footer {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
}

/* indicator */

.arrows {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.indicator {
  position: absolute;
  bottom: 10%; /* Adjust this value if needed */
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%) rotate(45deg);
}

.indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
.indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3) {
  top: -0px;
  left: -0px;
  animation-delay: 0.4s;
}
.indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.6s;
}
.indicator span:nth-child(5) {
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
}

@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #222;
  }
}

/* hero title animation */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
  display: block;
}

svg text {
  animation: stroke 5s forwards;
  stroke-width: 2;
  stroke: #2023bb;
  font-size: 4vw;
  counter-reset: non-scaling-stroke;
}
@media (max-width: 768px) {
  svg text {
    font-size: 28px;
  }
}
@media (max-width: 368px) {
  svg text {
    font-size: 22px;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: #ffffff;
    stroke-width: 3;
  }
  100% {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* section 1  */

.sectionh2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #212121;
  color:white;
}

.card {
  width: 100vw;
  height: 100vh;
  border-radius: 4px;
  background: #212121;
  display: flex;
  gap: 5px;
}

.card p {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}
.card p .description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s ease;
  pointer-events: none;
}

.card p:hover .description {
  opacity: 1;
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s, top .5s;
  text-transform: uppercase;
  color: #fcfcfc;
  letter-spacing: .1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.card p:hover span {
  transform: rotate(0) translate(-50%, -50%);
  top: 5rem;
  left: 50%;
}


/* footer */

.App-footer {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(248, 243, 243);
}

.App-section:nth-child(odd) {
  background-color: #f7f7f7;
}
