body, html, #root, .App {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  color: white;
}

.welcoming{
  padding-left: 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;
    display: block;
}

svg text {
    animation: stroke 5s forwards;
    stroke-width: 2;
    stroke: #2023bb;
    font-size: 4vw;
    counter-reset: non-scaling-stroke;
}
@media (max-width: 768px) {
  svg text {
      font-size: 30px; 
  }
}

 @keyframes stroke {
0%   {
fill: rgba(72,138,204,0);
stroke: #ffffff;
stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
}
70%  {fill: rgba(72,138,204,0);
stroke: #ffffff }
80%  {fill: rgba(72,138,204,0);
stroke: #ffffff; stroke-width: 3; }
100% {
fill: #ffffff;
stroke: #ffffff;
stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
}
}


.descreption{
  padding-left: 2rem;
  font-size: 1.2rem;
  margin: 3rem  auto;

}
.App-footer{
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(248, 243, 243);
}

.App-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.App-section:nth-child(odd) {
  background-color: #f7f7f7;
}
